[Unit]
Description=Statistics collection and monitoring daemon
After=local-fs.target network.target ssnoded.service
Requires=local-fs.target network.target
ConditionPathExists=/opt/ss/etc/collectd.conf

[Service]
Type=notify
NotifyAccess=main
ExecStartPre=/opt/ss/sbin/collectd -t -C /opt/ss/etc/collectd.conf
# Maybe give ssnoded time, on boot, to get communication up to controller
ExecStartPre=/bin/bash -c "sleep 3"
ExecStart=/opt/ss/sbin/collectd
Environment="PATH=/opt/ss/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
